.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  text-align: center;
  align-items: center;
  background-color: aqua;
}
.header .logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.nav ul li {
  list-style-type: none;
}
.nav ul li a {
  text-decoration: none;
}

.section {
  background-image: url("https://plus.unsplash.com/premium_photo-1760544962324-6baac83843dd?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw3M3x8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  text-align: center;
}

.about-top {
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center;
}

.about-bottom {
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
}

.all-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.card-1 {

  width: 300px;
  background-color: burlywood;
  border-radius: 10px;
  padding: 20px 10px;
}
.about-bottom{
  background-color: aquamarine;
  margin: 20px 0;
  border-radius: 10px;
}
